<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<variable name="applicationName" value="MyApplication"/>
	<targets>
		<target name="asyncFile"
				xsi:type="AsyncWrapper"
				queueLimit="5000"
				overflowAction="Discard">
			<target name="file"
					xsi:type="File"
					fileName="${basedir}/logs/${applicationName}/log.csv"
					archiveFileName="${basedir}/logs/${applicationName}/log.{######}.csv"
					maxArchiveFiles="180"
					archiveEvery="Hour"
					archiveNumbering="Sequence"
					concurrentWrites="true"
					keepFileOpen="false"
					encoding="iso-8859-2">
				<layout xsi:type="CsvLayout">
					<column name="Type" layout="${level}"/>
					<column name="DateTime" layout="${date}" />
					<column name="Custom-Message" layout="${message}" />
					<column name="Error-Source" layout="${event-context:item=error-source}" />
					<column name="Error-Class" layout="${event-context:item=error-class}" />
					<column name="Error-Method" layout="${event-context:item=error-method}" />
					<column name="Error-Message" layout="${event-context:item=error-message}" />
					<column name="Inner-Error-Message" layout="${event-context:item=inner-error-message}" />
					<column name="Web-Variables" layout="${web_variables}" />
				</layout>
			</target>
		</target>
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="file" />
	</rules>
</nlog>